
API.key
/.vs/UciEngine/v17/TestStore/0
/.vs/UciEngine/FileContentIndex
/UciEngine/obj
/UciEngine.Tests/bin/Debug/net7.0
/UciEngine.Tests/obj/Debug/net7.0
/UciEngine.Tests/obj
/.vs/ProjectEvaluation
/.vs/UciEngine
